APPLE_TEAM_ID=YOUR_TEAM_ID
FASTLANE_APPLE_ID=you@example.com
APPLE_STORE_CONNECT_API_KEY_ID=YOUR_KEY_ID
APPLE_STORE_CONNECT_API_KEY_ISSUER_ID=YOUR_ISSUER_ID
APPLE_STORE_CONNECT_API_KEY_PATH=/opt/developer/app-ci/credentials/app-store-connect.p8
MATCH_S3_BUCKET_NAME=your-match-bucket
MATCH_S3_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
MATCH_S3_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
MATCH_KEYCHAIN_PASSWORD=YOUR_KEYCHAIN_PASSWORD
FASTLANE_SLACK_WEBHOOK=https://hooks.slack.com/services/XXXXXXXXX/XXXXXXXXX/XXXXXXXXXXXXXXXX
ANDROID_RELEASE_STATUS=draft
